@font-face {
    font-family: arcade;
    src: url(../files/webfonts/ARCADECLASSIC.TTF);
}


body {
    background-color: black;
    display: grid;
}

#start {
    display: grid;
    position: fixed;
    align-items: center;
    justify-content: center;
    font-family: arcade;
    font-size: 80px;
    color: darkorchid;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    text-shadow: blueviolet;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 2px;
    stroke: black;
    stroke-width: 2px;
    z-index: 1;
}

#F11 { 
    display: grid;
    position: fixed;
    font-family: arcade;
    color: darkorchid;
    left: 5px;
    top: 5px;
    stroke: black;
    stroke-width: 1px;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 1px;
    
    background-color: black;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(61, 0, 38);
    width: 75px;
    height: 75px;
    
    text-align: center;
    text-justify: center;

    justify-content: center;
    align-content: center;

    transition: 650ms;

    z-index: 900;

    &:hover {
        background-color: #a5346d;
        transition: 650ms;
    }

    &:active {
        background-color: #c300ff;
        transition: 150ms;
    }
    div {
        font-size: xx-large;
    }

}

.glow {
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}


#smallTxt {
    display: grid;
    font-size: 40px;
    stroke-width: 1px;
    stroke: black;
    top: 0px;
    align-items: center;
    text-align: center;
}


@keyframes glow {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e600db, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    to {
        text-shadow: 0 0 20px #fff, 0 0 30px #f86db3, 0 0 40px #a5346d, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
}